{:deps {org.clojure/clojure            {:mvn/version "1.12.0"}
        com.lambdaisland/reitit-jaatya {:mvn/version "0.2.40"}
        com.lambdaisland/hiccup    {:local/root "/home/arne/lambdaisland/hiccup"} #_{:mvn/version "0.10.51"}

        com.lambdaisland/ornament {:local/root "/home/arne/lambdaisland/ornament"}
        #_{;; ornament-next with defprop/defrules/import-tokens
           :git/sha "0af129132bfbfeba940705031f83b60250e71dcf"
           :git/url "https://github.com/lambdaisland/ornament.git"}
        com.lambdaisland/garden {:local/root "/home/arne/lambdaisland/garden"}
        com.lambdaisland/kramdown {:local/root "../../lambdaisland/kramdown"}
        enlive/enlive             {:mvn/version "1.1.6"}
        #_{:mvn/version "1.12.107"}
        fi.metosin/reitit              {:mvn/version "0.7.0-alpha6"}
        com.lambdaisland/shellutils {:mvn/version "0.3.20"}}
 :aliases
 {:dev {:extra-paths ["dev"]}}}
