<nav class="cover-navigation navigation--social">
  <ul class="navigation">
    <!-- Twitter -->
    <li class="navigation__item">
      <a href="http://twitter.com/plexus" title="@plexus on Twitter">
      <i class='icon icon-social-twitter'></i>
      <span class="label">Twitter</span>
      </a>
    </li>

    <!-- Github -->
    <li class="navigation__item">
      <a href="https://github.com/plexus" title="@plexus on Github">
      <i class='icon icon-social-github'></i>
      <span class="label">Github</span>
      </a>
    </li>

    <!-- Email -->
    <li class="navigation__item">
      <a href="mailto:arne@arnebrasseur.net" title="Email arne@arnebrasseur.net">
        <i class='icon icon-mail'></i>
        <span class="label">Email</span>
      </a>
    </li>

    <!-- RSS -->
    <li class="navigation__item">
      <a href="/feed.xml" title="RSS Feed">
        <i class='icon icon-rss'></i>
        <span class="label">RSS</span>
      </a>
    </li>
  </ul>

  <br />

  <nav class="cover-navigation cover-navigation--primary">
    <ul class="navigation">
      <li class="navigation__item"><a href="/" title="<%= title %>" class="blog-button">Blog</a></li>
    </ul>
  </nav>

  <nav class="cover-navigation cover-navigation--primary">
    <ul class="navigation">
      <li class="navigation__item"><a href="/speaking.html" title="Public speaking" class="blog-button">Speaker</a></li>
    </ul>
  </nav>

</nav>
