@import html5boilerplate/main
@import html5boilerplate/normalize
@import grid
@import pygments-zenburn
@import compass/typography/vertical_rhythm

$base-font-size: 16px
$base-line-height: 25px

@include establish-baseline

html
  font-family: "Open Sans", sans-serif

header
  img
    display: block
    width: 45%
    margin: 0 auto
  h1
    text-align: center
    margin-top: 1em
    font-size: 40px
    line-height: 1.1em

#top-buttons
  background: black
  padding-top: 1em
  padding-bottom: 1em
