@import 'bourbon/bourbon';

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(fonts/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2'), url(fonts/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(fonts/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(fonts/JbtMzqLaYbbbCL9X6EvaIxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(fonts/dazS1PrQQuCxC3iOAJFEJUo2lTMeWA_kmIyWrkNCwPc.woff2) format('woff2'), url(fonts/dazS1PrQQuCxC3iOAJFEJR_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(fonts/y7lebkjgREBJK96VQi37Zo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2'), url(fonts/y7lebkjgREBJK96VQi37ZobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

// ------------------------------
// THE BASICS
// ------------------------------

@import 'reset.scss';
@import 'grid.scss';
@import 'variables.scss';
@import 'fonts.scss';

// ------------------------------
// GLOBAL STYLES
// ------------------------------

@import 'global.scss';

// ------------------------------
// SECTIONS
// ------------------------------

@import 'sections/post.scss';

// ------------------------------
// COMPONENTS
// ------------------------------

@import 'components/panels.scss';
@import 'components/buttons.scss';
@import 'components/navigation.scss';
@import 'components/pagination.scss';
@import 'components/icons.scss';
@import 'components/post-list.scss';
@import 'components/forms.scss';

// ------------------------------
// MEDIA QUERIES
// ------------------------------

@import 'media-queries.scss';

// ------------------------------
// EXTRAS
// ------------------------------

@import 'animate.scss';
